.dev_artifacts/build/*
.dev_artifacts/install/*
.dev_artifacts/log/*
.dev_artifacts/data/*

build/*
install/*
log/*
data/*
.cache/* 

*.mcap
*.txt

!.dev_artifacts/data/.gitkeep
!.dev_artifacts/build/.gitkeep
!.dev_artifacts/install/.gitkeep
!.dev_artifacts/log/.gitkeep